
/* Boldonse | Bungee Tint | Bytesized | Oswald | Playfair Display | Jaini */

* {
  font-family: 'Montserrat';
}

.brandPagina{
  font-family: 'Jaini', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
  letter-spacing: 10px;
  /* text-shadow: 3px 3px 3px #b3b3b3; */
  font-size: 50px !important;

  color: #fbfbfb;    /* Color del texto */
  /* text-shadow:
    5px 5px 0px #8e0909,
    -5px -5px 0px black,
    5px -5px 0px #e10d0d,
    -5px 5px 0px #999999; */

    text-shadow:
    5px 5px 0px #000000,
    -5px -5px 0px #000000,
    5px -5px 0px #000000,
    -5px 5px 0px #cc1414;
}

.nav-link{
  font-family: 'Boldonse' !important;
  letter-spacing: 4px;
}

.nav-item{
  background: #e7e7e7;
  margin-bottom: 5px;
  border-radius: 5px;
}

.active{
  /* background: rgb(226,226,226); */
/* background: linear-gradient(94deg, rgba(226,226,226,1) 86%, rgba(38,72,115,1) 100%); */
  background-color: #0d0d0d !important;
  color: white !important;
  border-radius: 5px !important;
}

.logout{
  text-align: left !important;
  background: rgb(233,65,65);
  background: linear-gradient(94deg, rgba(233,65,65,1) 32%, rgba(180,30,14,1) 74%);
  color: white !important;
  margin-top: auto !important;
}

.logout:hover{
  background: rgb(233,65,65);
  background: linear-gradient(94deg, rgb(218, 33, 33) 32%, rgb(122, 15, 3) 74%);
  transition: ease all .3s;
  color: white !important;
}

